<div class="inline">
  <%= form_tag @search, :remote => true, :action => 'search', :id => 'search' do %>
    <div class="left ">
      <table>
        <tbody>
          <tr>
            <td>Wyświetl rekordy typu:</td>
            <td>
              <select name="rodzaj">
                <option value="">WSZYSTKIE</option>
                <option value="guarantee">ZGŁOSZENIA GWARANCYJNE</option>
                <option value="postguarantee">ZGŁOSZENIA POGWARANCYJNE</option>
                <option value="order">ZAMOWIENIE CZĘŚCI</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="right">
      <%= text_field_tag 'q', '', :class => 'watermark szukaj', :'-data-watermark' => 'wpisz szukaną fraze' %>
    </div>
    <div class="right">
      <%= image_tag 'search.png', :class => 'search' %>
    </div>
    <div class="clearfix"></div>

    Pokaż Zgłoszenia od dnia: <input class="data watermark datepicker" -data-watermark="od dnia" type="text" name="from" value="">
    do dnia: <input class="data watermark datepicker" type="text" name="to" -data-watermark="do dnia" value="">

    <div class="clearfix"></div>
    <input type="submit" value="WYŚWIETL" />
  <% end %>
</div>
<div class="cleafix"></div>
<br/>
<br/>
<div id="search-response">

</div>
